<!DOCTYPE html>
<html lang="en">
 
<head>
    <title> My Web Scraper </title>
</head>
 
<body>
    <div>
	<div>
	    <h3> Python Web Scraper </h3>
        </div>            
	<div>
            <div>
                <form method="POST" action='/'>
                <label> Enter company name:   <label> <input type="text" name="cname"><br>
                <label> Enter job frequency:  </label> <input type="text" name="freq"><br>
                <label> Enter job start time: </label> <input type="text" name="stime"><br>
                <label> Enter job end time: </label> <input type="text" name="etime"><br><br>
                <input type="submit" value="Submit">
                </form> <br><br>
                {% if error %}
                   {{ error }} 
                {% endif %}
    	    </div>
        </div>
    </div> 
</body>
 
</html>
